body {
    background-color: red;
    width:100%;
    display:inline-block;
}

header {
    display: block;
    height:400px;
}

h1#hello {
    color: #ffffff;
    font-family: "lust-script",sans-serif;
    display: block;
    position: absolute;
}

.nice-words p{
    color:#ffffff;
    font-family: "lust-script",sans-serif;
    font-size: 42px;
    display: block;
    position: absolute;
}

#b {
    top:200px;
    left:700px;
}
#s {
    top:1200px;
    left:150px;
}
#f {
    top:1500px;
    left:1000px;
}
#t {
    top:1780px;
    left:230px;
}
#d {
    top:2510px;
    left:460px;
}
#sn {
    top:3300px;
    left:290px;
}
#e {
    top:3700px;
    left:1000px;
}
#and {
    top:4000px;
    left:300px;
}
#sx {
    top:4650px;
    left:500px;
}
#iloveu {
    top:5240px;
    left:810px;
}

.skrollr {
    display:block;
    width:100%;
}

.letter {
    height: 1000px;
}

.display {
    display:none;
}
